In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing

In [29]:
df = pd.read_excel('realestate.xlsx')
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [30]:
linear = LinearRegression()
col = list(df.columns)
col.remove('Y house price of unit area')
col.remove('No')

In [31]:
X = df[col]
y = df['Y house price of unit area']

In [32]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

In [33]:
linear.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
predicted = linear.predict(x_test)
print(np.sqrt(mean_squared_error(predicted,y_test)))

8.57703316536859

In [35]:
linear.coef_

array([ 5.85014746e+00, -2.42551464e-01, -5.13870668e-03,  1.07453372e+00,
        2.39100477e+02, -5.22365968e+01])

In [36]:
x_train_scaled = preprocessing.scale(x_train)

In [37]:
linear.fit(x_train_scaled,y_train)
scaled_predicted = linear.predict(x_test)
print(np.sqrt(mean_squared_error()))

array([[ 0.8944786 ,  0.2504157 , -0.62451369,  0.61126033,  0.86655541,
         0.58161093],
       [ 1.1895747 , -0.19761501,  2.17118178, -1.39998334, -2.87591702,
        -1.45416615],
       [-1.76138732, -1.40114849, -0.8365159 ,  0.94646761, -0.14924711,
         0.49805787],
       ...,
       [ 0.59938215, -0.58415131, -0.65261296, -1.06477606,  0.40104591,
        -0.2021964 ],
       [-1.17119513, -1.1288161 , -0.64693338,  0.61126033,  0.50102647,
         0.77258937],
       [-0.28590649, -1.43628815, -0.69995101,  0.61126033, -0.31001585,
         0.48943731]])